/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
} */


/* #blue-box{
    
    border: 8px solid black;
    
    width: 16em;
    height: 16em;
    color: white;
    background-color: blue;
} */
/* p{ background-color: blue;
color:white; 
