*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.twansBckgrndimage{
    /* background-color:rgb(241, 224, 179); */
    /* background-image: url("/assets/images/sheet-music-macro-stained-41542537"); */
    background-image:url("/assets/images/grey-background-music-notes.png");
    background-size: cover;
    background-position: no-repeat center center fixed;
    /* opacity: .6; */
    

}

.contentHeading{
    
    display:flex;
    justify-content:center;
    
    
}
#contentList{
    position:relative;
    left: 545px;
    display:flex;
    justify-content:center;  
    
    flex:wrap;
    width:30vw;
    height: 100vh;
    padding: 1em;
    border-top: 5px solid rgb(226, 10, 10);
    border-right: 5px solid rgb(22, 170, 22);
    border-bottom: 5px solid rgb(103, 25, 177);
    border-left: 5px solid rgba(25, 0, 255, 0.726);
    cursor:pointer;
    flex-grow: 1;
    
    /* margin-left: 1em;
    margin-top:1em;
    padding:1.2em; */
    /* width:25em;
    height:35em; */



}

contentList, ul{
    list-style-type: "-"; 
    padding:0;
    margin:0;
}
contentList, li{
    background-color: aqua;
    flex-grow: 1;
}
li:hover {
    background-color: rgb(230, 236, 146);
    /* color: white; */
    
 }