*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.contentPage{
    /* background-color:rgb(241, 224, 179); */
    background: url(https://www.shutterstock.com/image-photo/brp-can-spyder-roadster-tricycle-motorcycle-2424478253) no-repeat center center fixed;
    background-size: cover;
    

}

.contentHeading{
    
    display:flex;
    justify-content:center;
    
}
#contentList{
      
    display:flex;
    justify-content:center;  

    cursor:pointer;
    margin-left: 1em;
    margin-top:1em;
    padding:1.2em;
    width:25em;
    height:30em;

    border-top: 5px solid rgb(226, 10, 10);
    border-right: 5px solid rgb(22, 170, 22);
    border-bottom: 5px solid rgb(103, 25, 177);
    border-left: 5px solid rgba(25, 0, 255, 0.726);


}

li{
    background-color: aqua;
}
li:hover {
    background-color: rgb(230, 236, 146);
    /* color: white; */
    
 }