* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#homeNav {
  background-image: linear-gradient(rgb(158, 104, 228), yellow, rgb(133, 133, 236));
  font-weight: bolder;
}

a:hover {
  background-color: pink; 
}

.myHomePicsContainer {
  background-image: linear-gradient(rgb(55, 35, 128), yellow, rgb(79, 79, 248));
  padding: 25px;
}


/* img{
    border:100pxc; color:orange;
    border-radius: 8px;
} */
