*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

section{
        margin:20px; 
        background-color: rgb(208, 233, 183); 
}
img{
    border:100pxc; color:orange;
    border-radius: 8px;
}

ul{
    padding-left:50px;
}

.outer-box{
    border-width:5px;
    border-style:dashed;
    border-color: orange;
    width:150px;
    height:150px;
    background-color: red;
    border-radius:8px, 8px,8px,8px;
}
.innerbox{
    margin: 8px;
    border: 18px solid black;
    padding: 8px;
    width: 50px;
    height: 50px;
    color: white;
    background-color: blue;

}
/* p{ background-color: blue;
color:white; 




/* p,div,section,article{
    color: orange;
    margin:20px; 
    
} */
/* IDs for one specific 
thing only, Class can be the same on multiple things. 👌 */