*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

section{
        margin:20px; 
        background-color: rgb(208, 233, 183); 
}


img{
    border:100pxc; color:orange;
    border-radius: 8px;
}
#twansResume{
    background-color:lightseagreen;
    padding-left:50px;
}
ul{
    padding-left:50px;
}

 
 /* .myHomePics{
    background-color: salmon;
}  */

 #yellow-box{
    top: 10px;
    background-color:orange;
    width: 5em;
    height:5em;
    
    border-radius:8px, 8px,8px,8px;
}
/* #blue-box{
    
    border: 8px solid black;
    
    width: 16em;
    height: 16em;
    color: white;
    background-color: blue;
} */
/* p{ background-color: blue;
color:white; 




/* p,div,section,article{
    color: orange;
    margin:20px; 
    
} */
/* IDs for one specific 
thing only, Class can be the same on multiple things. 👌 */
/* td, th { 
    border:1px solid red;
    
} */

