*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

#resumeNavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e29a9a; 
}

#resumeNavBar li {
  float: left;
  border: 3px solid #121118;
  border-radius:8px;
  font-size: 15px;
  padding:4px;
}

#resumeNavBar li:last-child {
  /* border-right: none; */
}

#resumeNavBar li a {
  display: block;
  color: rgb(43, 34, 9);
  text-align: center;
  padding: 7px 1px;
  text-decoration: none;
}

#resumeNavBar li a:hover:not(.active) {
  background-color: #d14949;
}

#resumeNavBar .active {
  background-color: #0b553a;
}

#contactInfo{
    background-color: rgb(235, 112, 235);
}
#professionalSummary{
    background-color: deepskyblue;
}
#skillsSection{
    background-color: rgb(183, 248, 119);
}
#experienceSection{
    background-color: #c5b8b8;
}
#educationSection{
    background-color: khaki;
}
#additionalInfoSection{
 background-color: cornsilk;   
}
#professionalDevelopmentSection{
    background-color: rgb(248, 161, 56);
}
#bottom-navbar{
    background-color: rgb(185, 142, 224);
    font-weight:bold;
}

section{
        margin:20px; 
        background-color: rgb(208, 233, 183); 
        
}


/* img{
    border:100pxc; color:orange;
    border-radius: 8px;
} */
#twansResume{
   
    padding-left:50px;
}
ul{
    padding-left:50px;
}


 





