* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: linear-gradient(rgb(9, 9, 36), orange, purple); */
  background-color: black;
}
.twansResume {
  background-color: rgb(49, 46, 46);
  border-radius: 8px;;
  margin: 3em;
  padding: 1em;
}

/* .topHomeBtn {
   position: fixed; 
} */

#resumeNavBar ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden; /*comment if you want a horizontal bar*/
  background-color: #e29a9a;
}

#resumeNavBar li {
  float: left; /*uncomment if you want a horizontal bar*/
  border: 3px solid #121118;
  border-radius: 2px;
  font-size: 15px;
  padding: 4px;
}

/* #resumeNavBar li:last-child {
  border-right: none;
} */

#resumeNavBar li a {
  display: block;
  color: rgb(43, 34, 9);
  text-align: center;
  padding: 7px 1px;
  text-decoration: none;
}

#resumeNavBar li a:hover:not(.active) {
  background-color: #d14949;
}

#resumeNavBar .active {
  background-color: #0b553a;
}
/* #twanName{
  float:left;
} */
/*twanName, address1*/
/* #address1 {
}
#twanImg {
  display:inline-block; 
} */

.contactContainer {
  border: 2px solid orange;
  border-radius: 5px;
}
h4 {
  color: grey;
}

.contactDetails {
  display: flex;
  flex:wrap;
}
img {
  border: 2px solid black;
  height: 250px;
  width: 200px;
  /* object-fit: cover; */
}

/* #contactDetails {
  position: absolute;
  top: 205px;
  left: 335px;
  /* border: 2px solid white; */
/*width:800px;
  width: 50%;
} */

/* .contactPic {
  background-color: beige;
} */
/* .contactPic { */
/* border: 5px solid rgb(16, 24, 16);
  padding: 5px; */
/*/width180px;*/
/* width: 230px; */
/* position: relative; */
/* left: 100px; */
/* background-color: rgb(235, 112, 235); */
/* } */

.nameCard {
  font-size: 30px;
  /* border: 2px solid green; */
  color: white;
  margin:0em;
  padding: .51em;
  gap: 1em;
  /* text-align: top; */
  line-height:40px;
  width:23em;
}
.nameCard h4 {
  color: rgb(43, 129, 129);
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  
  /* text-align:top; */
}

.addressCard {
  margin: 10px;
  padding: 1em;
  /* border: 2px dashed red; */
  
  
}
/* #jobTitle{
  font-size: 1em;
  font-style:italic;
  color:rgb(79, 163, 231);
  
} */

.professionalSummary {
  /* border: 2px solid black; */
  padding: 1em;
  color:gray;
  /* background-color: deepskyblue; */
  background-color: rgb(53, 47, 47);

}

/* h2 {
  box-sizing: border-box;
  width: 950px;
} */

.employmentSkills-container{
display:flex;

}


/* #stayHome{
 position:absolute;
 top:50%;
 

} */
.employmentSection {
  
  /* border: 2px solid red; */
  /* width: 950px; */
  width: 84%;
  padding: 10px;
  color: white;
  background-color: rgb(53, 49, 49);
  ;
  
}

.skillsSection {
  border: 2px solid rgb(41, 40, 37);
/* 
  top: 565px;
  left: 950px;*/
  width: 40%;
  
  padding: 10px;
  background-color: rgb(240, 223, 149);
  font-size: larger;
  
  /* font-weight:400px; */
}

/* h2 skills{
  color:white;
} */


.educationSection {
  border: 2px solid purple;
  /* width: 22rem; */
  padding: 10px;
  width: 67.6%;
  background-color: khaki;
}
.additionalInfoSection {
  border: 2px solid royalblue;
  width: 67.6%;
  /* width: 950px; */
  padding: 10px;
  background-color: cornsilk;
}
.professionalDevelopmentSection {
  width: 67.6%;
  /* width: 950px; */
  border: 2px solid brown;
  padding: 10px;
  background-color: rgb(240, 186, 119);
}
#bottom-navbar {
  border: 2px solid pink;
  padding: 10px;
  background-color: rgb(218, 202, 233);
  font-weight: bold;
}

section {
  margin: 20px;
  background-color: rgb(208, 233, 183);
}

/* img{
    border:100pxc; color:orange;
    border-radius: 8px;
} */
#twansResume {
  padding-left: 50px;
}
ul {
  padding-left: 50px;
}
