/* .firstTbl{
    border-collapse:collapse;
    width:100%;
    text-align:center;
} */

 #homeNav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  
  
 }
 






