table{
    
    width:100%;
    text-align:center;
}

#calcTbl{
    width: 30%;
    height: 100%;
    text-align: center;
    border: 5px solid green;
   
 }
 
 td, th {
    border: 2px solid red;
    height:50px;
 }
 
 td:hover {
    background-color: lightcoral;
    color: white;
    
 }
